@import url("https://fonts.googleapis.com/css2?family=Anta&family=Merriweather&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  max-width: 1440px;
}
p {
  line-height: 1.5;
}
.banner {
  background-color: #eee8aa;
  font-family: "Anta", Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}
.banner p {
  margin: 0;
}
.logo {
  order: 3;
}
.logo img {
  position: absolute;
  max-width: 56%;
  left: 22%;
}
.hero-container {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://images.unsplash.com/photo-1501612780327-45045538702b?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
      no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 1% 1% 1%;
}

.hero-container-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero-container {
  color: #59a2fe;
  font-family: "Anta", Helvetica, Arial, sans-serif;
}

.hero-title {
  color: #eee8aa;
  font-family: "Anta", Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  font-size: 2.5rem;
  text-transform: uppercase;
}
.hero-title:hover {
  color: #ffa500;
}
.artist-name:hover {
  color: #eee8aa;
}
.hero-text {
  font-family: "Merriweather", Georgia, serif;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #ffa500;
  text-align: center;
  letter-spacing: 0.5px;
}
.hero-span {
  color: #fff;
  font-weight: 900;
  font-size: 1.2rem;
}
.pricing-container {
  background-image: url("https://images.unsplash.com/photo-1508898578281-774ac4893c0c?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  text-align: center;
  padding: 2%;
}
.call-to-action,
.info h2 {
  font-family: "Anta", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 2.5rem;
}
.pricing-container
  .pricing-container-item:nth-of-type(3)
  .pricing-info-container {
  background-color: #eee8aa;
}
.pricing-container
  .pricing-container-item:nth-of-type(4)
  .pricing-info-container {
  background-color: #c0c0c0;
}
.pricing-container-item {
  padding: 2%;
}
.pricing-info-container {
  background-color: #66a1fd;
  padding: 2%;
}
.pricing-info-container:hover,
.pricing-container
  .pricing-container-item:nth-of-type(3)
  .pricing-info-container:hover,
.pricing-container
  .pricing-container-item:nth-of-type(4)
  .pricing-info-container:hover {
  background-color: #fff;
}
.tier-info {
  font-family: "Anta", Helvetica, Arial, sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  color: #2c0030;
}
.price {
  font-family: "Merriweather", Georgia, serif;
  font-size: 2.75rem;
  color: #000;
  margin: 0;
}
.fee-info {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #000;
  margin: 1% 0 3%;
}
.buy-tickets {
  background-color: #8b0000;
  border: 3px solid #000;
  width: 75%;
  padding: 3% 6%;
  margin: 9% auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}
.learn-more {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
}
.latest {
  background-color: #000;
}
.latest img {
  width: 100%;
  height: auto;
}
.info {
  padding: 1.25rem 2%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.info p {
  font-family: "Merriweather", Georgia, serif;
  font-size: 1.125rem;
  color: #fff;
}
.sign-up {
  display: flex;
  flex-direction: column;
}
input {
  font-size: 1.125rem;
}
input[type="text"],
input[type="email"] {
  width: 100%;
}
input[type="submit"] {
  background-color: #eee;
  border: 3px solid #8b0000;
  margin-top: 0.75rem;
  padding: 3% 6%;
  text-transform: uppercase;
  color: #2c0030;
}
footer {
  background-color: #eee8aa;
  font-size: 0.875rem;
  padding: 0.75rem 0;
  text-align: center;
}
h4 {
  font-family: "Anta", Helvetica, Arial, sans-serif;
}
.copyright {
  font-family: "Anta", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
.nav ul {
  list-style-type: none;
  padding-left: 0;
}
.nav p,
.nav ul {
  font-size: 1.125rem;
  font-family: "Merriweather", Georgia, serif;
}
.links li {
  padding-bottom: 0.5rem;
}
.links a {
  color: #000;
  text-decoration: none;
}
.links a:hover {
  color: #2c0030;
}
.social ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media screen and (min-width: 768px) {
  .banner {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2%;
  }
  .logo {
    order: inherit;
  }
  .logo img {
    position: absolute;
    left: 38%;
    max-width: 24%;
    padding-top: 1%;
  }
  .hero-container {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("https://images.unsplash.com/photo-1501612780327-45045538702b?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
        no-repeat;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 8px;
    padding-top: 4rem;
  }
  .hero-title {
    font-size: 2rem;
  }
  .hero-text {
    font-size: 1rem;
  }
  .hero-span {
    font-size: 0.625rem;
  }
  .hero-container-item {
    display: grid;
    grid-template-rows: 1fr 3fr 6fr;
  }
  .pricing-levels {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .pricing-container-item {
    display: flex;
    flex-direction: column;
  }
  .pricing-info-container {
    width: 97%;
    height: 100%;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
  }
  .sign-up {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  input[type="text"] {
    width: 47%;
  }
  input[type="submit"] {
    padding: 1%;
    font-size: 0.8rem;
    margin: 0;
  }
  .nav {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    font-family: "Merriweather", Georgia, serif;
  }
}
@media screen and (min-width: 1013px) {
  body {
    margin: 0 auto;
    background-color: #111;
  }

  .hero-container {
    padding-top: 8.75rem;
  }
  .pricing-levels {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .tier-info {
    font-size: 1.75rem;
  }
  .buy-tickets {
    font-size: 1.125rem;
  }
  .latest {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .sign-up {
    display: block;
    width: 90%;
    margin: 0 auto;
  }
  .name {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
  }
  input[type="text"] {
    width: 48%;
  }
  .user-email {
    width: 100%;
    display: block;
  }
  input[type="email"] {
    width: 100%;
  }
  input[type="submit"] {
    width: 50%;
    margin-top: 1.25rem;
  }
}
@media screen and (min-width: 1612px) {
  .logo img {
    max-width: 100%;
  }
  .logo {
    position: absolute;
    max-width: 396px;
    margin-left: auto;
    margin-right: auto;
    left: -292px;
    right: 0px;
  }
}
